@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        #buttonUpdate {
            height: 30px;
            width: 130px;
            background: #fcd1eb;
            border-radius: 20px;
        }
        #buttonDelete {
            height: 30px;
            width: 130px;
            background: #fcd1eb;
            border-radius: 20px;
        }
        #buttonAdd {
            height: 50px;
            width: 300px;
            background: #b7efa0;
            border-radius: 20px;
        }
        .forms{
            border: 1px solid gray;
            width: 27%;
        }

    </style>
</head>
<body>
    <div>
        <h2>Телефонный справочник:</h2>

        @foreach (var person in Model.GetAll())
        {
            <div class="forms">

                <span>Фамилия: <strong>@person.LastName</strong>  ,</span>

                <span>мобильный телефон:<strong>@person.Phone</strong> </span>

                <div>
                    <button id="buttonUpdate" onclick="updatePerson('@person.Id', '@person.LastName', '@person.Phone')">Update</button>
                    <button id="buttonDelete"  onclick="deletePerson('@person.Id')">Delete</button>
                </div>
                <br/>
            </div>
        }

    </div>
    <div style="margin-top:3rem;">
        <button id="buttonAdd" onclick="window.location.href='/dict/add'">Add new person</button>
    </div>

    <script>
        function updatePerson(id, lastname, phone) {
            window.location.href = `/dict/update?id=${id}&lastName=${lastname}&phone=${phone}`;
        }

        function deletePerson(id) {
            window.location.href = `/dict/deletesave?personId=${id}`;
        }
    </script>
</body>
</html>
